<launch>
    <arg name="boxes_topic"     default="/darknet_ros/bounding_boxes"/>

    <!-- Start the node to evaluate bounding boxes   -->
    <node pkg="usma_threat_ros" type="evaluator.py" name="threat_evaluator" output="screen" >
        <param name="/boxes_topic" value="$(arg boxes_topic)" />
    </node>

</launch>
