<launch>
	<arg name="boxes_topic"					default="/darknet_ros/bounding_boxes"/>
	<arg name="srcimg_topic"				default="/logitech/image_raw"/>
	<!-- <arg name="srcimg_topic"				default="/ardrone/front/image_rect_color"/> -->
	<arg name="threat_image_topic"	default="/threats/potential_images"/>

	<include file="$(find stop)/launch/stop.launch">
		<arg name="launcher"	value="evaluator_stopper" />
	</include>

	<!-- <include file="$(find usma_threat_ros)/launch/ardrone.launch"> -->
		<!-- <arg name="called"	value="true" /> -->
	<!-- </include> -->

	<include file="$(find usma_threat_ros)/launch/logitech.launch">
		<arg name="video_mode"	value="yuyv" />
	</include>


  <!-- Start the node to run darknet ros -->
  <include file="$(find usma_threat_ros)/launch/darknet_ros_yolo_v3.launch">
		<arg name="yolo_weights_path"   value="$(find usma_threat_ros)/cfg/weights"/>
		<arg name="yolo_config_path"    value="$(find usma_threat_ros)/cfg/models"/>
		<arg name="yolo_param_path"     value="$(find usma_threat_ros)/cfg/pistol-yolov3-tiny.yaml"/>
		<arg name="ros_param_path"      value="$(find usma_threat_ros)/cfg/ros.yaml"/>
		<arg name="launcher" 			      value="yolo_pistols" />
  </include>

	<!-- Start the node to evaluate bounding boxes   -->
	<node pkg="usma_threat_ros" type="evaluator.py" name="threat_evaluator" output="screen" >
		<param name="yolo_boxes_topic" 	value="$(arg boxes_topic)" />
		<param name="srcimg_topic"			value="$(arg srcimg_topic)" />
		<param name="threat_images"			value="$(arg threat_image_topic)" />
	</node>

	<!-- Start the node to calculate skeletons   -->
<!-- 	<node pkg="usma_threat_ros" type="skeleton_detector.py" name="skeleton_detector" output="screen" >
		<param name="threat_images"		value="$(arg threat_image_topic)" />
		<param name="protoFile"				value="$(arg protoFile)" />
		<param name="weightsFile"			value="$(arg weightsFile)" />
	</node>
 -->

</launch>
