<launch>
  <arg name="video_mode"    default="yuyv" />
  <arg name="camera_name"   default="c920" />
  <arg name="camera_group"  default="logitech" />
  <arg name="camera_yaml"   default="$(env HOME)/.ros/camera_info/$(arg camera_name).yaml" />

  <group ns="$(arg camera_group)">
    <node pkg="libuvc_camera" type="camera_node" name="$(arg camera_name)">
      <rosparam file="$(arg camera_yaml)" />
      <param name="video_mode"        value="$(arg video_mode)"/> <!-- uncompressed/yuyv/nv12/mjpeg -->
      <param name="exposure_absolute" value="0.5"/>
    </node>
  </group>
</launch>

<!-- 
/logitech/c920/auto_exposure
/logitech/c920/auto_exposure_priority
/logitech/c920/auto_focus
/logitech/c920/auto_hue
/logitech/c920/auto_white_balance
/logitech/c920/backlight_compensation
/logitech/c920/brightness
/logitech/c920/camera_info_url
/logitech/c920/contrast
/logitech/c920/exposure_absolute
/logitech/c920/focus_absolute
/logitech/c920/frame_id
/logitech/c920/frame_rate
/logitech/c920/gain
/logitech/c920/gamma
/logitech/c920/height
/logitech/c920/hue
/logitech/c920/image_height
/logitech/c920/image_width
/logitech/c920/index
/logitech/c920/iris_absolute
/logitech/c920/pan_absolute
/logitech/c920/power_line_frequency
/logitech/c920/privacy
/logitech/c920/product
/logitech/c920/roll_absolute
/logitech/c920/saturation
/logitech/c920/scanning_mode
/logitech/c920/serial
/logitech/c920/sharpness
/logitech/c920/tilt_absolute
/logitech/c920/timestamp_method
/logitech/c920/vendor
/logitech/c920/video_mode
/logitech/c920/white_balance_BU
/logitech/c920/white_balance_RV
/logitech/c920/white_balance_temperature
/logitech/c920/width
/logitech/image_raw/compressed/format
/logitech/image_raw/compressed/jpeg_quality
/logitech/image_raw/compressed/png_level
/logitech/image_raw/compressedDepth/depth_max
/logitech/image_raw/compressedDepth/depth_quantization
/logitech/image_raw/compressedDepth/png_level
/logitech/image_raw/theora/keyframe_frequency
/logitech/image_raw/theora/optimize_for
/logitech/image_raw/theora/quality
/logitech/image_raw/theora/target_bitrate
/rosdistro
/roslaunch/uris/host_192_168_0_39__46117
/rosversion
/run_id
 -->