<launch>
	<arg name="date"						default="threat_images"/>
	<arg name="record_frame_rate"	default="5"/>

	<!-- PGR camera #1 -->
<!-- 		<include file="$(find usma_threat_ros)/launch/pgr.launch">
			<arg name="camera_namespace"	value="pgr_1" />
			<arg name="camera_serial"			value="16369570" />
			<arg name="calibrated"				value="0" />
		</include>

		<node pkg="usma_threat_ros" type="image_recorder.py" name="pgr_1_recorder" output="screen">
			<param name="folder_path"				value="$(env HOME)/ros/data/threat_images/pgr_1"/>
			<param name="image_topic"				value="/pgr_1/image_raw"/>
			<param name="camera_namespace"	value="pgr_1"/>
			<param name="frame_rate"				value="$(arg record_frame_rate)" />
		</node> -->

	<!-- PGR camera #2 -->
<!-- 		<include file="$(find usma_threat_ros)/launch/pgr.launch">
			<arg name="camera_namespace"	value="pgr_2" />
			<arg name="camera_serial"			value="16369584" />
			<arg name="calibrated"				value="0" />
		</include>

		<node pkg="usma_threat_ros" type="image_recorder.py" name="pgr_2_recorder" output="screen">
			<param name="folder_path"				value="$(env HOME)/ros/data/threat_images/pgr_2"/>
			<param name="image_topic"				value="/pgr_2/image_raw"/>
			<param name="camera_namespace"	value="pgr_2"/>
			<param name="frame_rate"				value="$(arg record_frame_rate)" />
		</node> -->

	<!-- Ar.Drone Recorder -->
		<arg name="ardrone_ip"	default="192.168.0.25" /> 
		<arg name="network"			default="linksys" /> 
		<include file="$(find optitrack_controller)/launch/ardrone_driver_$(arg network).launch">
			<arg name="ip"					value="$(arg ardrone_ip)"/>
			<arg name="echo"				value="false" />
			<arg name="cmd_topic"		value="ardrone/switched/cmd_vel"/>
		</include>
		<node pkg="usma_threat_ros" type="image_recorder.py" name="ardrone_recorder" output="screen">
			<param name="folder_path"				value="$(env HOME)/ros/data/threat_images/ardrone"/>
			<param name="image_topic"				value="/ardrone/front/image_raw"/>
			<param name="camera_namespace"	value="ardrone"/>
			<param name="frame_rate"				value="$(arg record_frame_rate)" />
		</node>
		<node pkg="image_view" type="image_view" name="ardrone_image_view" >
			<remap from="image" to="/ardrone/front/image_raw"/>
		</node>

	<!-- keyboard stopper -->
		<include file="$(find stop)/launch/stop.launch">
			<arg name="launcher"	value="record_stopper" />
		</include>

</launch>
